# --- Core & Async Execution ---
httpx
ujson
psutil
aiofiles
uvloop
retrying
certifi

# --- Data Analysis & Machine Learning ---
pandas
numpy
lightgbm
scikit-learn
joblib

# --- Web & Network Security ---
cloudscraper
beautifulsoup4
python-whois
dnspython
aiodns
wafw00f
sublist3r
DrissionPage

# --- File Analysis & Deep Mining ---
rarfile
PyPDF2
openpyxl
exifread
pytesseract
python-docx
striprtf
pdfminer.six
pyaxmlparser

# --- Exploitation & Security Tools ---
pwntools
PyJWT
sqlparse
paramiko

# --- Validation & Utilities ---
phonenumbers
email-validator
tqdm
colorama
